/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.ic-campjs:before {
  background-image: url(icons.png);
  background-position: 0px 0px;
  width: 800px;
  height: 600px;
}
.ic-chrome:before {
  background-image: url(icons.png);
  background-position: 0px -600px;
  width: 48px;
  height: 48px;
}
.ic-clippy:before {
  background-image: url(icons.png);
  background-position: -48px -600px;
  width: 48px;
  height: 48px;
}
.ic-ff:before {
  background-image: url(icons.png);
  background-position: -96px -600px;
  width: 48px;
  height: 48px;
}
.ic-github:before {
  background-image: url(icons.png);
  background-position: -144px -600px;
  width: 48px;
  height: 48px;
}
.ic-ie:before {
  background-image: url(icons.png);
  background-position: -192px -600px;
  width: 48px;
  height: 48px;
}
.ic-mongodb:before {
  background-image: url(icons.png);
  background-position: -240px -600px;
  width: 48px;
  height: 48px;
}
.ic-rockmelt:before {
  background-image: url(icons.png);
  background-position: -288px -600px;
  width: 48px;
  height: 48px;
}
.ic-safari:before {
  background-image: url(icons.png);
  background-position: -336px -600px;
  width: 48px;
  height: 48px;
}
.ic-slack:before {
  background-image: url(icons.png);
  background-position: -384px -600px;
  width: 48px;
  height: 48px;
}
